[2015-05-19 18:00] 9prady9 opened #1 "Fix data alignment issues before calling gl*Sub* calls"
Calls such has `glTexSubImage2D`, `glTexImage2D` use 4-byte alignment by default. For types such as unsigned char, char, there is possibility that above gl*** calls will result in segmentation faults. Will have to verify and fix it if required.

[2015-05-19 18:01] 9prady9 opened #2 "Verify shader 'in' parameters to be type safe"
The shader parameters with `in` qualifier are currently using vec[2|3|4] vector types whose base type is single precision floating point numbers. In cases where the vertex buffers are of different types, check if the shader parameters needs to be changed to their corresponding vector types. If yes, make necessary changes.

[2015-05-19 18:02] 9prady9 commented on #2
Preliminary analysis seems to indicate that any data type vertex buffer objects can be bound to shader 'in' parameters using single type qualifier - [float|vec2|vec3|vec4]. This removes the necessity to handle VBOs of different data types inside the shader.

[2015-05-19 18:02] 9prady9 opened #3 "Setup documentation framework for Forge"

[2015-05-19 18:04] 9prady9 opened #4 "Fix Font class to use string pattern matching to search for font files"
On Linux, we use `fontconfig` to do the same. A similar work around needs to be done for Windows platform.

[2015-05-19 18:06] 9prady9 opened #5 "Add outline stroke to Text Renderings"
Currently, each character is rendered as is. However, this can pose a problem if the color in which the character is rendered is same as the background ground. If an outline is drawn, it would be visually helpful to easy identify text in situations such as explained above.

[2015-05-19 18:07] 9prady9 opened #6 "Add option to preserve aspect ratio while rendering Image objects"
Keep it off by default and turn on when asked for.

[2015-05-19 18:07] 9prady9 opened #7 "Add interactivity for Windows"
Following are the effected Renderable objects:
- [x] Image
- [x] Plot
- [x] Histogram
- [x] Plot3
- [x] Surface

[2015-05-20 19:57] 9prady9 opened #8 "Change GLFW to be an cmake external project"

[2015-05-20 20:01] 9prady9 commented on #8
GLFW Binaries are available for windows [here](http://www.glfw.org/download.html) which makes this request invalid. Hence, closing it.

[2015-05-20 20:01] #8 closed

[2015-05-28 18:09] 9prady9 opened #10 "fg::Image not functioning properly for int, uint and uchar type data"

[2015-05-28 19:19] pentschev opened #11 "Add support for drawing computer vision features"
It is necessary to add support for drawing of computer vision features.

A circle/cross/X can be drawn around the coordinates where a feature is located. Feature matching can be drawn as lines between matching features in two different images.

See image below for example.

![feature_tracking](https://cloud.githubusercontent.com/assets/4398246/7868881/e6db94d4-054c-11e5-9be4-dcbe85895cc6.png)

[2015-05-28 19:55] pavanky opened #12 "Add colormaps support to forge"
The values can be seen here:
https://gist.github.com/pavanky/93a0106d92400ccb9b53

[2015-05-28 21:05] bkloppenborg opened #13 "Plot should be origin centric"
When displaying a plot which has values that cross zero, the value zero should appear in the plot and all labels should be equally spaced about zero.

[2015-05-28 21:07] bkloppenborg opened #14 "X-axis labels should centered on tick marks"
At present X-axis tick marks have the left side immediately below the tick mark. The labels should be centered on the tick mark.

[2015-05-30 02:05] #12 closed

[2015-06-02 13:21] shehzan10 opened #16 "Change freetype to use https git"
Ref https://github.com/arrayfire/arrayfire/issues/719

[2015-06-02 13:42] shehzan10 commented on #16
Fixes by 8a6deb02c646fb16df2397d583853f575dcc32ef

[2015-06-02 13:42] #16 closed

[2015-06-09 23:59] #1 closed

[2015-06-09 23:59] #10 closed

[2015-06-10 22:36] #4 closed

[2015-06-10 22:47] 9prady9 opened #23 "Add support to choose windowing toolkit"
Currently considering the following alternatives for GLFW.
- [x] SDL2
- [ ] Qt

[2015-06-11 17:38] #14 closed

[2015-06-11 17:40] 9prady9 commented on #13
This includes adding tick labels for origin.

[2015-06-12 15:04] #3 closed

[2015-06-14 22:39] 9prady9 opened #28 "Surface Object"
Usage example
[code]

Which would render something as below (left hand side in the picture).
![Example](http://arrayfire.com/docs_21/blip.png)

[2015-06-16 00:54] #13 closed

[2015-06-16 15:08] 9prady9 opened #30 "Add Examples"

[2015-06-17 23:14] #23 closed

[2015-06-23 23:51] 9prady9 opened #35 "Add additional examples"
- [x] Plot
- [x] Histogram
- [x] Surface
- [x] Plot3

[2015-06-23 23:51] 9prady9 commented on #2
No issues encountered so far, closing this for now.

[2015-06-23 23:51] #2 closed

[2015-06-23 23:52] 9prady9 opened #36 "3d line/scatter plots"
- [ ] 3d line plot
- [ ] 3d scatter plot

These would be almost similar to what 2d plotting was doing.

[2015-06-24 17:17] 9prady9 opened #37 "2D Plot Object Improvement"
- [x] Add option to use different type of markers for plots
- [ ] Add option to render different type of plots eg. scatter etc. Probably add the ones listed [here](https://en.wikipedia.org/wiki/Chart#Common_plots) as we progress forward. But definitely add scatter plot.

[2015-06-24 17:32] #30 closed

[2015-06-29 03:42] pavanky opened #38 "Building forge fails with ninja"
Steps to reproduce

- install ninja
[code]

Error:

[code]

Issue originally reported here:
https://github.com/arrayfire/arrayfire/issues/861

[2015-06-29 14:34] #38 closed

[2015-07-02 17:40] CsatiZoltan opened #40 "Are non-f32 type objects supported for af_draw_plot in Arrayfire?"
I experienced that `f64`, `c32` and `c64` causes an error. Will they be supported later on?

[2015-07-02 17:52] shehzan10 commented on #40
There are a couple of things at play here:
OpenGL does not support double precision. Hence forge does not support any double precision data. Whether the user provides us with double precision and forge then converts it to single precision, or whether the user himself converts it to single precision makes no difference in performance. Hence we require the user to provide f32 data.

With regards to

[2015-07-02 17:52] 9prady9 commented on #40
@CsatiZoltan Both f64, c64 which are double precision would not be supported. This is so because OpenGL rendering pipeline will eventually truncate the precision to 32-bit, therefore there is no point in supporting these types.

We can add support for c32 in future

[2015-07-02 18:39] CsatiZoltan commented on #40
Ok, thanks.

[2015-07-02 18:39] #40 closed

[2015-07-26 05:59] CsatiZoltan opened #41 "ArrayFire event handling"
Will event handlers, like mouse click, mouse drag, scrolling, etc. be integrated to ArrayFire?

[2015-07-27 12:30] 9prady9 commented on #41
@CsatiZoltan Though, they are not available, we definitely have a plan for them in future.

[2015-08-26 21:29] 9prady9 opened #44 "constant input case not handled appropriately plot"

[2015-08-27 18:22] #44 closed

[2015-09-12 00:38] #6 closed

[2015-09-15 19:44] 9prady9 opened #48 "Handling Multiple Plots and Different draw calls per one chart"
We can discuss the different possible directions in which we want to implement the current issue. Please post the URLS to other plotting libraries for reference.

[2015-09-16 10:55] marbre opened #49 "FIND_PACKAGE(GLM REQUIRED) failing with GLM >= 0.9.7.0"
The `FindGLM.cmake` module was removed with commit https://github.com/g-truc/glm/commit/62a7daddcf082f754000fc5e42d7bcdf93c895f7 from GLM. Thus, setting `USE_SYSTEM_GLM=ON` results in a failing [FIND_PACKAGE](https://github.com/arrayfire/forge/blob/master/src/CMakeLists.txt#L4) call for GLM 0.9.7.0 and later.

[2015-09-16 14:30] marbre commented on #49
CMake currently fails with
[code]
The GLM configuration file is installed as *glmConfig.cmake*. Thus replacing `FIND_PACKAGE(GLM REQUIRED` with `FIND_PACKAGE(glm REQUIRED`, cmake passes. I'll send a pull request.

[2015-09-16 17:33] #49 closed

[2015-09-17 09:04] marbre opened #51 "FindForge.cmake only installed if BUILD_EXAMPLES=ON"
I am currently working on an Gentoo ebuild for forge. I noticed that the CMake stuff is only installed if `-DBUILD_EXAMPLES=ON` is passed:

[code]
Otherwise, only the forge library and headers get installed. Initally I expected that only `FindForge.cmake` would be installed. `FindOpenGL.cmake` and a `FindGLEW.cmake` are provided by the system.

Furthermore, I tried to change the install destinatio

[2015-09-17 15:27] shehzan10 commented on #51
We need to make the installation for forge better. I'll work on this.
We will probably change this to use config.cmake files.

[2015-09-17 15:33] marbre commented on #51
At the moment, it is not a problem if the installed `FindForge.cmake` is not found, since a `FindForge.cmake` it is provided with ArrayFire anyway. Further, single files can be easily installed within an Gentoo ebuild. For the Gentoo ebuild, there is currently no need to hurry improving this.

Anyway, this might impact other users, thus the report.

[2015-09-17 15:34] shehzan10 commented on #51
Agreed. That was one of the main reasons why we didn't dedicate resources to improve it.

[2015-09-21 14:42] shehzan10 commented on #51
@glehmann Would you be interested in contributing the CMake scripts for Forge too? I remember you contributed the ones for ArrayFire. Forge should be much simpler.

[2015-09-22 16:50] #37 closed

[2015-09-25 18:03] 9prady9 commented on #48
@bkloppenborg @pavanky @shehzan10 @umar456 @syurkevi
I have come up with following changes to `Plot` class/object to handle 2d and 3d plots  (line/scatter) with unified interface that will handle multiple plots situation as well.
[code]

example code using this object would look like below
[code]

Let me know what you guys think about it.

[2015-10-01 20:44] 9prady9 commented on #48
Based on @bkloppenborg 's feedback(offline), i drew the next draft on how forge API should look like after the new feature additions. It is given below.
![20151001_163327](https://cloud.githubusercontent.com/assets/3270458/10233102/87f218be-685a-11e5-862e-ae6b5e7325ba.jpg)

We discussed further on what other customization one might expect from plotting library. Based on our today's discussion will

[2015-10-02 15:18] 9prady9 commented on #48
Based on yesterday's discussion, i made the following changes to draft to achieve the below goals:
* Ability to render any number of objects in a given chart (can be only 2d or 3d)
* Rendering order should follow order of setup[plot|histogram|scatter] calls.
* Using images in charts
* Enable usage of image as colors for a surface plot.
* Enable plots to have per point color and transparency variat

[2015-10-02 17:16] pavanky commented on #48
This is getting overly complicated. For starters I see no use case for histogram + image + plots together. The only use case I can think of is to plot points on an image and we should probably have a special function for that.

[2015-10-02 17:18] 9prady9 commented on #48
No, it is not actually and there are use cases which @bkloppenborg showed yesterday. @bkloppenborg Can you please post the URLs here so that pavan can take a look at them.

[2015-10-02 17:22] 9prady9 commented on #48
Also, just to be clear. Whichever changes (approved ones) discussed in this issue will be implemented in Forge after 3.2 release of ArrayFire in all likelihood. So, this is not for ArrayFire 3.2.

[2015-10-02 17:27] pavanky commented on #48
This API is differentiating between an Image drawn in a chart and an image drawn directly to a window. We should not have two ways to do the same thing.

[2015-10-02 17:30] bkloppenborg commented on #48
Indeed, there are a tremendous number of use cases where users plot multiple things on the same chart. My input here was that we should simplify the API such that the user may put as many items on a chart as they please and that the items be drawn in the order in which they are received. All major plotting libraries (gnuPlot, matplotlib, IDL's plotting functions, QCustomPlot, etc.) implement this

[2015-10-02 17:50] 9prady9 commented on #48
One example where two different usages of `image` makes sense is #11 . In the feature requested in #11, user doesn't need axes while rendering the images in question with lines connecting the features across images.

As far as the API goes, it is not huge addition in terms of LOC, the example code only increased by 6 to 8 lines to handle multiple plots situation.

Regarding why there are two image

[2015-10-07 19:54] #28 closed

[2015-10-15 00:52] #36 closed

[2015-10-15 00:52] 9prady9 commented on #35
Finished after #57

[2015-10-15 00:52] #35 closed

[2015-10-30 05:52] tmpvar opened #58 "osx build issues"
On OSX El Capitan (10.11)
Using cmake@3.3.2
and clang:
[code]

after cloning forge and [running through the build process](https://gist.githubusercontent.com/tmpvar/833d462b3774f1199348/raw/9dd6f6bf9ea83a72cbceb7c9a9e868fe92052105/clone%2520and%2520build)

I'm seeing

[code]

after applying [this patch](https://gist.githubusercontent.com/tmpvar/833d462b3774f1199348/raw/9dd6f6bf9ea83a72cbceb7c9a9e8

[2015-10-30 15:32] 9prady9 commented on #58
Fixed with the commit 823b00b38b7f10dbe7b6469ae60ebf9c11391fde. The fixes are in master now.

[2015-10-30 20:15] tmpvar commented on #58
looks like there is still an issue, everything builds as expected (thanks!) but running any of the opencl examples results in a flash and then the process terminates

![opencl examples fail to run](https://cloud.githubusercontent.com/assets/46673/10856931/6463928c-7f21-11e5-89e0-876e690f292e.gif)

[2015-10-30 20:21] 9prady9 commented on #58
Do you happen to have a CUDA device by any chance ? If so, can you please check the example on CUDA example and let us even if that is failing or not. Thank you.

[2015-10-30 20:23] tmpvar commented on #58
I do not as I'm running an `AMD Radeon R9 M370X 2048 MB` on a `MacBook Pro (Retina, 15-inch, Mid 2015)`

[2015-10-30 20:44] tmpvar commented on #58
I stepped through and it looks like it fails at `getPlatform` -- all of the platforms returned are labeled "Apple"

[2015-10-30 20:46] 9prady9 commented on #58
Hm, that is probably the reason then. I will fix this on all examples and update the issue as soon as it is done. Thanks for tracking it down.

[2015-10-30 20:55] tmpvar commented on #58
patched with

[code]

and it gets a bit further:

[code]

[2015-10-30 21:01] 9prady9 commented on #58
That is an invalid device error code, can you trying printing the device info in [this](https://github.com/arrayfire/forge/blob/master/examples/opencl/fractal.cpp#L168) line and see what does it print.

[2015-10-30 21:27] tmpvar commented on #58
[code]
and if I remove the break from that loop

[code]

and then the example runs! So it looks like we should filter based on command queue capability

[2015-10-30 21:40] 9prady9 commented on #58
If the `checkExtnAvailability` is returning true, it should run on Intel integrated GPU as well. It is odd that it isn't. Having said that, i never had a good experience with Intel OpenCL either on linux or Windows so far. Are you able to run any other opencl related programs on Intel device ? Just curious if it is just our examples or all opencl programs on intel device.

[2015-11-06 17:37] 9prady9 commented on #58
@tmpvar I have fixed the opencl fractal example now. Can you please latest master and let me know if  fractal is running fine for you.

[2015-11-06 19:41] tmpvar commented on #58
will do this evening

[2015-11-07 02:13] tmpvar commented on #58
@9prady9 looks good, thanks!

[2015-11-07 02:13] #58 closed

[2015-12-03 20:25] #51 closed

[2015-12-22 19:21] 9prady9 opened #66 "Find if accepting external OpenGL context is viable"

[2015-12-22 19:23] 9prady9 opened #67 "Test the library on OpenGL ES"

[2015-12-22 19:25] 9prady9 opened #68 "Statistical plots"
- [ ] Box plots
- [ ] Pie Charts

[2015-12-22 19:26] 9prady9 opened #69 "2D Vector Fields"

[2015-12-22 19:26] 9prady9 opened #70 "3D Vector Fields"

[2015-12-22 19:27] 9prady9 opened #71 "Contour Plots"

[2016-01-04 04:06] dpo opened #73 "Build error on OSX 10.10"
I'm trying to update the Homebrew formula for `arrayfire` to version 3.2.2. In the process, I'm using version af3.2.2 of `forge`. It compiles on OSX 10.9 and 10.11, but not on 10.10. Using clang++, I get the error message:
[code]
You can find the full build log [here](https://travis-ci.org/Homebrew/homebrew-science/jobs/100037999).
The error above is located [here](https://travis-ci.org/Homebrew/h

[2016-01-04 21:24] 9prady9 commented on #73
@dpo I have tried forge build on the following machine and it built fine for me.
[code]

I build with the following clang version
[code]

Not really sure, what is the difference between your dev environment and mine ? Could it be travis ci setup ?

[2016-01-04 22:25] dpo commented on #73
Thanks for checking. I'm not sure what's going on. It's not only Travis. The Homebrew build bot reports the same issue. I'll dig more.

[2016-01-04 22:49] pavanky commented on #73
This is what we have on our build machine.
[code]

Travis is building with MacOSX10.11sdk. Could that be the issue?

[2016-01-04 23:24] dpo commented on #73
It could be. Unfortunately, I only have access to 10.10 on Travis or the build bot.

[2016-01-08 17:37] dpo commented on #73
Here too things seem to have been resolved, perhaps by an OS update. Thanks! For reference, I was having the same error as described here: http://comments.gmane.org/gmane.comp.compilers.clang.devel/46074

[2016-01-08 17:37] #73 closed

[2016-01-08 17:40] 9prady9 commented on #73
glad that it got fixed and wasn't a bug in the code! :)

[2016-01-26 09:23] 9prady9 commented on #7
Finished basic interactivity features, these are currently available in `api_changes` branch.

[2016-02-03 11:04] 9prady9 commented on #67
@pavanky I don't have OpenGL ES capable driver on my machine, neither do i know how to install - probably have to install an emulator. But i do know that Jetson TK1 has ES capable driver installed.

Can you test it on the Jetson in our office with the following diff.
[code]

Essentially, you will be adding one line regarding glfw window hint for client API. Let me know how it goes.

As far as i un

[2016-02-08 11:57] 9prady9 opened #75 "Font glyph packing"
Early version maintained individual textures for each character glyph, which was very inefficient.

Pack the glyphs into a single texture.

[2016-02-08 15:20] 9prady9 commented on #5
Axis and label text become illegible with outline in smaller font sizes. Hence, disabled it for charts and plots where background color is under the control of the library.

Outlined text can be renabled when support for text renderings with custom style is added.

[2016-02-08 15:20] #5 closed

[2016-02-11 16:31] pavanky commented on #71
Whats the difference between the two `setColor` methods ?

[2016-02-11 16:41] 9prady9 commented on #71
@pavanky The one which takes enum as input calls the float version internally after computing color from enum.

[2016-02-12 01:09] bkloppenborg commented on #71
As you mention, it is very common to color isolines. Also it is common for every N-th iso-line to be thicker. Beyond this, I've never seen any plot that has color/alpha settings for individual verticies.

[2016-02-12 04:27] 9prady9 commented on #71
@bkloppenborg

Lets dump alphas from discussion for now.

Color per isoline is one feature that will be needed, which can be done using separate color buffer or colormaps.

By thickness of Nth isoline, did you mean among all isolines, only one isoline will be made thicker than others or each isoline will have a thickness of it's own ?

[2016-02-12 12:24] bkloppenborg commented on #71
Here are a few examples of things I've seen.

1. Color dependent on z-value:
[http://i.stack.imgur.com/4vCZy.png]

2. Thickness of line (e.g. point size) dependent on z-value being positive:
[http://www.aanda.org/articles/aa/full/2007/24/aa7339-07/img14.gif]

3. N-th iso-line being thicker (this is standard for topographic maps):
[http://thumbs.dreamstime.com/z/abstract-topographic-map-vector-1653

[2016-02-12 15:34] pavanky commented on #71
I don't think this should be in 1.0

[2016-02-19 16:40] 9prady9 opened #76 "Support to save framebuffer as bmp or png"

[2016-03-03 16:06] bkloppenborg opened #78 "Erroneous vertical line in plot3_cpu example"
As shown below, the `plot3_cpu` example has a vertical line in the "funnel" whereas the line does not appear in `plot3_cuda` or `plot3_opencl`. This appears in code from PR #74 .

![screenshot from 2016-03-03 10-47-17](https://cloud.githubusercontent.com/assets/858450/13500234/a54ef9c4-e12f-11e5-9be5-557f4e260828.png)

[2016-03-03 16:11] bkloppenborg opened #79 "Incorrect z-depth buffering in surface_cuda and surface_cpu"
In the code for PR #74, z-depth buffering appears to be broken for (at least) surface plots in the CPU and CUDA backends. See the plots below.

The following image is taken from `surface_opencl` and shows correct z-depth behavior:
![screenshot from 2016-03-03 11-07-46](https://cloud.githubusercontent.com/assets/858450/13500405/669176d4-e130-11e5-8325-2fe093ebb38f.png)

The following image is taken

[2016-03-03 16:14] 9prady9 commented on #78
@syurkevi Can you please look into it.

[2016-03-03 16:29] bkloppenborg opened #80 "histogram_opencl example color bars not unique, only last bar updates"
The `histogram_opencl` example appears to have two bugs:

1. The color of the bars is always yellow and
2. Between successive frames only the last bar ever updates

See screenshots below.

Appearance of `histogram_cuda` shows bars that are in different colors and they all update their value every frame. This is the correct behavior.
![screenshot from 2016-03-03 11-21-55](https://cloud.githubuserco

[2016-03-03 18:11] bkloppenborg opened #81 "histogram example is incorrect"
There are (at least) two issues here with the histogram example:

1. The Perlin distribution should result in a Gaussian-like distribution of noise, whereas the histogram does not display anything remotely close to this, and
2. There appears to be a plotting error wherein every 3n and 4n  values are near zero in the histogram.

The Perlin distribution used  in the histograms should [result in a Ga

[2016-03-04 05:35] 9prady9 commented on #81
@bkloppenborg and @syurkevi I fixed histogram example in api_changes branch. Here are the images.

![screenshot from 2016-03-04 10-59-39](https://cloud.githubusercontent.com/assets/3270458/13518937/eb0e8b72-e1f8-11e5-8138-4a33a1c32bc7.png)
![screenshot from 2016-03-04 10-59-41](https://cloud.githubusercontent.com/assets/3270458/13518938/eb1aba50-e1f8-11e5-9b63-ede69b260339.png)
![screenshot from 2

[2016-03-04 05:35] 9prady9 commented on #81
I will do similar code changes in CUDA and OpenCL backend.

FYI - These are only changes in example code, the rendering code doesn't have any bugs.

[2016-03-25 19:54] #7 closed

[2016-03-25 19:54] #48 closed

[2016-03-25 19:54] #75 closed

[2016-03-25 19:54] #76 closed

[2016-03-25 19:54] #80 closed

[2016-03-25 19:54] #81 closed

[2016-04-04 07:09] #78 closed

[2016-04-04 07:22] 9prady9 commented on #79
Fixed in #74

[2016-04-04 07:22] #79 closed

[2016-04-04 10:38] 9prady9 opened #84 "1.0 release"
- [x] Documentation
- [x] Vendor Neutral Copy Headers
- [x] Improve Mouse based rotation interaction
- ~[ ] Fix rendering bugs on AMD GPUs~
- [x] 2D Vector Fields
- [x] Test Examples on Primary Platforms(Linux, OSX & WIndows)
- [x] Test Examples on Multiple GPU Vendors
- [x] Update `cl.hpp` in examples to use `cl2.hpp` and add that as external project for examples.

Optionally
- [x] glbinding swit

[2016-04-04 10:39] 9prady9 opened #85 "Replace GLEW with glbinding"

[2016-04-22 10:57] 9prady9 opened #86 "Add Visual Studio 2015 compatibility"
There are some compilation issues with Visual Studio 2015.

[2016-04-24 02:29] dendisuhubdy opened #87 "Cannot load default config file"
C02QH2D7G8WM:opencl userone$ ./histogram_opencl
Fontconfig error: Cannot load default config file
Freetype face initilization(3001)
C02QH2D7G8WM:opencl userone$ ./plot
-bash: ./plot: No such file or directory
C02QH2D7G8WM:opencl userone$ ./plot3_opencl
Fontconfig error: Cannot load default config file
Freetype face initilization(3001)

[2016-04-25 22:17] shehzan10 commented on #87
Can you provide more information about your system? Are you using Linux or OSX? And which branch of forge are you testing?

[2016-05-05 15:48] 9prady9 commented on #86
Fixed in devel with d52210af1a1093fb8ce2f28d16b893dd0459ccc0

[2016-05-05 15:48] #86 closed

[2016-05-05 15:50] 9prady9 commented on #87
@dendisuhubdy Can you please let us know if you are still facing the issue you mentioned above.

[2016-05-18 07:21] 9prady9 commented on #87
Closing, please reopen if you are still facing the problem.

[2016-05-18 07:21] #87 closed

[2016-06-07 09:33] 9prady9 opened #93 "Chart axes labels seems to be offset randomly"
This has been observed only on AMD APU machine so far.

[2016-06-13 23:07] pavanky opened #94 "Examples broken on AMD display device"
OpenCL examples are not working at all

**surface**
![surface_opencl](https://cloud.githubusercontent.com/assets/364829/16026082/bab75562-3199-11e6-8fa5-3e4a02818494.png)

**plotting**
![plotting_opencl](https://cloud.githubusercontent.com/assets/364829/16026080/bab52f9e-3199-11e6-8ed8-8f78b64f2dd3.png)

**plot3**
![plot3_opencl](https://cloud.githubusercontent.com/assets/364829/16026084/bab84c42-

[2016-06-13 23:08] pavanky commented on #94
OK you can't see the image being garbled in the screen shot of fractal default size, but it is garbled. The same is true for all cpu graphics examples on my AMD GPU

[2016-06-30 14:38] 9prady9 opened #95 "Vendor neutral copy headers"

[2016-07-01 05:36] 9prady9 opened #96 "Replace cl.hpp with cl2.hpp in OpenCL examples"

[2016-07-04 15:37] 9prady9 commented on #94
@pavanky I have checked the examples on the #92 PR changes and everything is rendering as expected on AMD APU A10. Can you please test this on your GPU and let me know if the problem is still there after the changes of PR #92

[2016-07-04 16:14] #69 closed

[2016-07-04 16:14] #70 closed

[2016-07-04 16:14] #95 closed

[2016-07-04 16:14] #96 closed

[2016-07-07 06:50] 9prady9 commented on #93
I found the reason for this, horizontal bearing for certain characters are coming out as garbage values from freetype which is resulting in the labels being rendering along borders of window.

[2016-07-14 10:05] 9prady9 commented on #94
@pavanky I have been able to finally setup linux environment (the details are given below) and opencl examples from devel branch run with few glitches but are not as corrupted as we see above.

System Info
[code]
GPU Info
[code]
GPU Driver Info
[code]

Glitches i see on this machine are as follows

* Renderings appear corrupted `while` resizing the window although they render fine before and after

[2016-07-25 10:33] sirinath opened #98 "Web Rendering"
Sometimes you have to display visualisations over a web interface. Wondering if you can add this functionality.

As reference following web rendering frameworks look cool so it would be nice if you have feature parity with them:

- https://plot.ly/
- https://juliaplots.github.io/
- http://p5js.org/
- http://visjs.org/
- http://threejs.org/
- https://www.blend4web.com/en/
- http://stack.gl/

[2016-07-25 10:36] sirinath opened #99 "User in Notebooks (IPython/Jupyter/Beaker Notebook/Apache Zeppelin)"
Ability to use Forge in Notebooks

[2016-07-25 10:42] sirinath opened #100 "Higher Level Visualization Framework"
Higher level visualisation framework like https://www.mapd.com/, http://www.vtk.org/, Tableau

Support the working of Data in multiple formats and sources including live and streaming data. Also see: http://www.infoworld.com/article/2983953/nosql/how-to-choose-a-nosql-analytics-system.html

[2016-08-10 08:26] deism opened #101 "It seems memory leaking"
Hi,

I need to display a multi-frame data file, when I keep drawing FG window, the memory is growing, below is details:
1. OS windows 10 64 bit
2. FORGE dev version, 32 bit compilation, OpenGL 1.2 in Nvidia cuda sdk 7.5
3. Data set: 1024 x 1024, 500 Frames, 8 bit gray scale
4. The destructor of fg::Image fails to delete the memory which is newed by constructor
5. Code sample:

	for (int i = 0; i <

[2016-08-10 17:40] 9prady9 commented on #101
@deism `forge` requires OpenGL >= 3.3 minimum. I am not sure how you are able to use OpenGL 1.2 (based on your bullet point (2)). Can you confirm your OpenGL version, may be what you are seeing is side effect of version mismatch problem.

[2016-08-10 19:48] deism commented on #101
oops! my mistake, OpenCL version is 1.2 in Nvidia cuda sdk 7.5

[2016-08-10 19:52] deism commented on #101
I also found there is leaking in draw function of Class Window. Let's say 1024 x 1024 image at 15 FPS, the memory is growing 4k a second.

[2016-08-10 20:21] deism commented on #101
The memory stops growing after 1200 frames, This may be the mechanism of openCL, anyway, there is memory issue in the destructor of fg::Image, I have to make image as global object to avoid running of memory

[2016-08-10 21:21] pavanky commented on #101
@deism what version of arrayfire are you using ? Does the memory problem still occur if you don't do any forge related calls ? (i.e. a simple device<unsigned char>() followed by unlock()) ?

[2016-08-11 16:43] deism commented on #101
@pavanky  I checked out master and dev on 16-08-09, both have same issue. If I don't call forge there is no problem. but simply calling forge as below will reproduce issue:

for (int i = 0; i < 10000; i++)
{
    cout << "run " << i << endl;
    fg::Image img(w, h, FG_GRAYSCALE, fg::u8);
}

[2016-08-11 17:16] 9prady9 commented on #101
@deism I am able to reproduce the issue on my end and looking into the issue.

[2016-08-15 11:26] 9prady9 commented on #101
@deism I have fixed this problem and the corresponding changes are part of the PR #89 . I will keep this open until the PR is merged. Thank you for reporting the problem.

[2016-08-16 15:18] deism commented on #101
Well done, thanks.

[2016-08-17 14:39] #85 closed

[2016-08-17 14:39] #101 closed

[2016-08-17 14:43] shehzan10 opened #102 "Failing examples after PR #89 (glbinding)"
- [x] Bubblecart, field and stream need to be written for CUDA and OpenCL
- [x] There might be a bug in `plotting` that occasionally colors the yellow lines as blue and sometimes shows gaps in the lines (Linux + NVIDIA)
- [x] Surface OpenCL doesn't render the surface (Linux + NVIDIA)
- [x] Plotting CUDA fails on TX1 with unknown CUDA error on line 69 of plotting.cu
- [x] Histogram examples on TX1

[2016-08-18 04:40] pavanky commented on #102
maximizing fractal, bubblechart, field examples on cpu seem to be causing the following error:

[code]

[2016-08-18 04:42] pavanky commented on #102
The above error only seems to happen when using Intel graphics but works when using nvidia GPU

[2016-08-22 07:48] ghisvail opened #104 "Support building forge with a system install of glbinding"
Just to be proactive here, I intend to package `forge` to enable the graphics functionalities of `arrayfire` in Debian. Since `forge` now depends on `glbinding`, I also have to package the latter (which is almost done).

Please consider supporting a build of `forge` using a system installation of `glbinding`. [`globjects`](https://github.com/cginternals/globjects/blob/master/source/globjects/CMake

[2016-08-22 09:46] shehzan10 commented on #104
We had this in mind and made it a part of #103.

[2016-08-22 10:11] ghisvail commented on #104
:+1:

sorry for the duplicate.

[2016-08-22 16:44] #104 closed

[2016-08-22 20:13] shehzan10 commented on #102
Errors from the issue message fixed in devel.
@pavanky can you check the error you reported with the latest devel?

[2016-08-24 22:18] pavanky commented on #94
Still broken on devel. The problem occurs even if I do not resize the window. It disappears after I perform any resizing operation.

[2016-08-29 04:03] 9prady9 commented on #102
fyi - I am working on adding the examples for left over backends.

[2016-08-31 02:46] 9prady9 commented on #102
@shehzan10 Is this `There might be a bug in plotting that occasionally colors the yellow lines as blue and sometimes shows gaps in the lines (Linux + NVIDIA)` resolved ? what was the issue ?

[2016-08-31 15:11] shehzan10 commented on #102
Yes this was resolved. Except for the resize issue @pavanky talks about, there seem to be no other issues across all platforms.

[2016-08-31 15:29] pavanky commented on #102
I think we can safely ignore the resize issue.

That said AMD is still broken (but it is referenced in another issue).

[2016-08-31 15:29] #102 closed

[2016-09-01 10:54] 9prady9 commented on #67
Started working on this and hit a road block. glbinding currently has only GL API bindings, [they are  to release GLES bindings soon ](https://github.com/cginternals/glbinding/issues/33)either via glbinding or as a separate project. Awaiting the corresponding announcement.

[2016-09-01 11:06] 9prady9 commented on #66
There are two possible approaches regarding this topic:
* Find if user created OpenGL context can be used with Forge(glfw/sdl) windows. As of now, some internal state (loading default fonts, color maps etc.) is initialized during window object construction (Window constructor code). The logic in this initialization should be exposed via functions appropriately if external context usage is to be gi

[2016-09-05 15:05] pavanky commented on #94
@9prady9 The examples are not broken on AMD when using SDL2 (as opposed to GLFW3). So I am guessing the problem occurs somewhere in the window focus / resizing in forge when using glfw.

But the responsiveness is really really bad on SDL. I am going to check if the responsiveness is bad on other GPUs.

[2016-09-05 15:38] pavanky opened #109 "Events are laggy when using SDL"
- closing a window takes a couple of seconds
- Moving images in a window lags the cursor, they keep moving even after cursor stops.

The problem seems more pronounced on AMD GPUs as opposed to Intel integrated GPUs.

[2016-09-05 16:25] 9prady9 commented on #94
@pavanky I tried SDL2 toolkit backend on my laptop that has GTX 650M and image examples(fractal, histogram) & surface example were responding smoothly for the mouse events without lag. Could it be possible that this is another issue on AMD hardware ? do you see the lag for SDL2 and cpu examples as well ?

[2016-09-05 16:51] pavanky commented on #94
@9prady9 no, the problem occurs on other gpus as well: https://github.com/arrayfire/forge/issues/109

[2016-09-05 16:52] pavanky commented on #94
I am trying this on arch, I am assuming you are doing the same @9prady9 ?

[2016-09-05 16:53] 9prady9 commented on #94
no, i am using ubuntu 16.04 now

[2016-09-08 18:25] shehzan10 opened #111 "3D Plot does not render out of grid position (0,0)"
git diff to reproduce code using plot3.cu
[code]

Same changes can be made to CPU and OpenCL with same bug.

[2016-09-08 18:29] shehzan10 commented on #111
Looks like `stream` is also facing a similar issue.

[2016-09-08 19:16] 9prady9 commented on #111
Well, the problem is not just with 3d plot and stream. If i pass the same chart to render in two different views, the chart is getting rendered to the first view only.

[2016-09-08 19:17] shehzan10 commented on #111
The way I was testing was different. I actually have image, histogram, plot2d and plot3d in the swe example in ArrayFire.
And only plot3 was not getting rendered. But got rendered fine when I put it at (0, 0).

[2016-09-08 19:19] 9prady9 commented on #111
So, i ran the code for all renderable objects and same problem everywhere.

[2016-09-08 19:19] 9prady9 commented on #111
Yes, i saw that issue too. It was in swe example.

[2016-09-08 19:20] shehzan10 commented on #111
But in the swe example, all of them have different chart objects.

[2016-09-08 19:20] 9prady9 commented on #111
it may be related to chart at all based on what i am seeing now. Because if i render same object second time, it is simply not rendering to another view.

[2016-09-09 06:56] #111 closed

[2016-09-09 18:02] #109 closed

[2016-10-05 20:02] 9prady9 opened #117 "Vector Graphics Support ?"

[2016-10-19 19:41] shehzan10 opened #118 "Plot3 shader compilation throwing error on OSX"
[code]

This is due to a stray FG_COMPILE_LINK_ERROR in common.cpp

[2016-10-20 01:42] #118 closed

[2016-11-10 16:21] 9prady9 commented on #93
Fixed by b80fa815295162a4a0fac78aa1f5ab81ed2176e8

[2016-11-10 16:21] #93 closed

[2016-11-15 22:15] kryptan opened #122 "Bad colormaps"
Colormaps are defined in src/backend/cmap.hpp in sRGB colorspace.

0. Default (gray) colormap is defined by linearly increasing gray values. This linear increase happens in the sRGB colorspace. One should probably use linearly increasing values in a perceptually uniform colorspace so that e.g. 0.8 is perceptually 2x brighter than 0.4. For gray values sRGB is close so it is not a big deal but somet

[2016-11-15 22:58] pavanky commented on #122
@kryptan

Thanks for providing detailed feedback. If you are willing, you can send a PR to the forge library with the changes :)

[2016-11-17 17:17] 9prady9 commented on #122
@kryptan & @pavanky Can you please check the changes i made to spectrum color map in the below PR.
https://github.com/arrayfire/forge/pull/123

[2016-11-17 17:30] pavanky commented on #122
@9prady9 I have no idea about this :) but please make sure the places you are picking these from are licensed appropriately.

[2016-11-17 17:48] 9prady9 commented on #122
@kryptan Any suggestions for improving (0) - Grayscale color map ?

[2016-11-17 18:49] kryptan commented on #122
@9prady9 The [page](https://bids.github.io/colormap/) I linked above has a link to a tool for generating good colormaps (see Appendix).

[2016-12-06 19:56] #122 closed

[2017-01-03 17:29] ghisvail commented on #84
How soon do you think forge 1.0.0 will be released? Just to know whether I'll have enough time to ship it for the freeze for the next release of Debian.

[2017-01-05 06:40] 9prady9 commented on #84
@ghisvail We are planning to release 1.0 along with ArrayFire's 3.5 release which is around first week of February.

[2017-01-05 17:57] shehzan10 commented on #84
We do not need to wait until the completion of ArrayFire 3.5 to make this release. We make make it when Forge is deemed ready for v1.0.

@ghisvail What is the timeline for the debian freeze?

[2017-01-06 19:01] ghisvail commented on #84
The freeze is scheduled for Feb 5th and packages need 10 days to transition currently. This means the latest for a new upload is around Jan 25th. Nevermind, we'll keep Forge 0.9.x and AF 3.4.2 for Stretch.

[2017-02-21 18:14] maikonadams opened #130 "compilation error: Linking CXX executable ../../../glcontexts"
it was compiline fine, with make, and I got the error at the end :+1:

[ 92%] Linking CXX executable ../../../glcontexts
/usr/bin/ld: /usr/local/lib/libglfw3.a(x11_window.c.o): undefined reference to symbol 'XConvertSelection'
//usr/lib/x86_64-linux-gnu/libX11.so.6: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
source/tools/glcontexts/CMakeFiles/glc

[2017-02-22 06:41] 9prady9 commented on #130
@maikonadams Which OS are you using ? I believe `glcontexts` is a `glbinding`/`glfw3` library example, not from `forge`. Are all the dependencies installed ?

[2017-02-22 17:20] maikonadams commented on #130
it is ubuntu 14.04 , compiling from Jetson TK1, initially showed all dependecies ok , when I ran cmake . , then I did the compilation , not changing anything .

[2017-02-22 18:09] pavanky commented on #130
@9prady9 sometimes on Ubuntu the order in which the libraries are linked can cause issues. I am not sure if this is the reason here.

[2017-02-22 18:12] 9prady9 commented on #130
@pavanky True.
@maikonadams
We are trying to check out build history for TX1 on build server and see if we have similar failure.

[2017-02-22 18:14] maikonadams commented on #130
sorry ,
it is jetson tk1 :(

[2017-02-22 18:16] pavanky commented on #130
Should the TK1 be looking at this file ?

[2017-02-22 18:18] 9prady9 commented on #130
@maikonadams Unfortunately, we don't have a TK1 on our build servers or any other development machines. The closest test we can do is to test on TX1 and see if the problem is happening on it.

[2017-02-22 18:24] 9prady9 commented on #130
@pavanky  That's what it points to on my system too.

[2017-02-22 18:25] pavanky commented on #130
@9prady9 Is your system an ARM system ?

[2017-02-22 18:32] 9prady9 commented on #130
No it isn't, i thought you were referring to the standard location on any Linux distribution.

[2017-02-22 18:34] 9prady9 commented on #130
We don't such a problem on TX1 at least, just confirmed it from build logs on server.

[2017-02-22 20:41] mlloreda commented on #130
@maikonadams, as @pavanky pointed out, it appears as though you've installed X11 for the wrong architecture.

[2017-02-22 21:19] maikonadams commented on #130
Jeeeezzzzzz , looks like it's the wrong file , I don't remember of having installed it but will have a look. Tks for the effort guys.

[2017-02-23 00:11] shehzan10 commented on #130
@maikonadams It looks like you are using static GLFW. We do NOT recommend using the static version.
For Ubuntu 14.04, you will need to build GLFW, for which the instructions are here: https://github.com/arrayfire/arrayfire/wiki/GLFW-for-ArrayFire.

Once you have built GLFW, you should delete your build directory and start again. For double checking, once you generate the CMake cache, run `cmake -L

[2017-02-28 18:19] maikonadams commented on #130
3.5.1

[2017-02-28 18:27] maikonadams commented on #130
I downloaded glfw and run make , sudo make install :
-- Install configuration: ""
-- Up-to-date: /usr/local/include/GLFW
-- Up-to-date: /usr/local/include/GLFW/glfw3native.h
-- Up-to-date: /usr/local/include/GLFW/glfw3.h
-- Up-to-date: /usr/local/lib/cmake/glfw3/glfw3Config.cmake
-- Up-to-date: /usr/local/lib/cmake/glfw3/glfw3ConfigVersion.cmake
-- Up-to-date: /usr/local/lib/cmake/glfw3/glfw3Targe

[2017-02-28 19:58] maikonadams commented on #130
Now  I am installing for ubuntu 16.04 ,
[ 91%] Built target glbinding
[ 92%] Linking CXX executable ../../../glcontexts
/usr/bin/ld: /usr/local/lib/libglfw3.a(x11_window.c.o): undefined reference to symbol 'XConvertSelection'
//usr/lib/x86_64-linux-gnu/libX11.so.6: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
source/tools/glcontexts/CMakeFiles/glco

[2017-02-28 23:37] shehzan10 commented on #130
Like I said in my previous message, you are using the **static GLFW library**. Did you follow the instructions  on the link I posted and matched each command? If that is the case, it is highly unlikely that the static GLFW will be built.

Also, when you run `cmake -LA | grep -i glfw`, run it in the Forge build directory.

To summarize, here's what you should do:
1. Delete all installed GLFW files

[2017-03-01 17:01] maikonadams commented on #130
tks man , and sorry for the stupid questions !
I compiled ! I removed  /usr/local/lib/libglfw3.a , and followed the instructions in the link,
and looks it installed properly

ebresearcher@eb3:~/forge/glfw2/glfw/build$ ls -l /usr/local/lib/libglfw*
lrwxrwxrwx 1 root root     12 Mar  1 09:39 /usr/local/lib/libglfw.so -> libglfw.so.3
lrwxrwxrwx 1 root root     14 Mar  1 09:39 /usr/local/lib/libglfw.s

[2017-03-01 17:09] #130 closed

[2017-04-28 21:40] caseymcc commented on #66
I have a few questions here. I quickly hacked together an Qt5 window for forge that seems to work,
https://github.com/caseymcc/forge/commit/a78f29053b86a39d26db137dccc6f385d4b681b6

But as far as I could tell from the quick overview it to implement this. forge really doesn't care about the  window as long as you don't call the window functions. Seems if you created a Chart and just called render m

[2017-04-29 01:09] 9prady9 commented on #66
@caseymcc That is true - forge rendering user's can use their own windowing functionality - that was the intention behind the such design. As you said, the user has to take care of GL context. What do you need to know about multiple windows ?

[2017-04-29 04:47] caseymcc commented on #66
Is it intended that the user can open multiple windows? If so in the the case of Qt5 I could make them dockable, dialogs or or split in the same window.

[2017-04-29 04:56] 9prady9 commented on #66
Yes,we wanted to enable multi-window usage. However, this hasn't been tested extensively. You are welcome to try and report any bugs you may find!

[2017-05-18 11:42] #84 closed

[2017-05-18 11:43] 9prady9 commented on #84
@ghisvail We just made Forge's v1.0 release

[2017-05-18 15:00] ghisvail commented on #84
@9prady9 Thanks for the heads-up. I noticed the SOVERSION was left to 0. Can you confirm whether this new release is still API/ABI compatible with the 0.9.x series, please?

[2017-05-18 15:26] 9prady9 commented on #84
@ghisvail There is one change to a class that breaks compatibility of 1.0 with 0.9.x series. Not setting SOVERSION was by mistake, any suggestions on how to fix this ? or 1.0.1 is the only way ?

[2017-05-18 15:31] ghisvail commented on #84
You'd need to fix the SOVERSION then.

Accurate SOVERSION management is important enough to justify making a hotfix release, I believe.

[2017-05-19 06:18] 9prady9 commented on #84
@ghisvail I fixed it and release v1.0.1.

[2017-07-04 11:52] 9prady9 opened #146 "Improve CMake scripts"
- [x] Use [ArrayFire CMake overhaul](https://github.com/arrayfire/arrayfire/pull/1861) as reference for the improvements.
- [x] Hunter support

[2017-07-10 17:46] deism opened #148 "The quality of rendering"
**What issue(memory leak, slow renders, docs fix etc.) did you face?**
Low quality of rendering and jagged edges comparing with Opencv opengl's rendering.
The image size is 1024x1024, I am not sure if this issue is something about the way of interpolation/resampling such as linear, bicubic, or lanczos, any clues?

**Please check if the issue fulfills these requirements**
- [ ] For code issues, ple

[2017-07-13 12:45] 9prady9 commented on #148
@deism It is likely a interpolation/re-sampling issue. Can you please share the code you used to render the image and any resources(images) used by the program. Thank you.

[2017-07-22 08:58] 9prady9 commented on #148
@deism Closing the issue for now. If you can provide the some code stub and image you used to investigate this further, we can look into it.

[2017-07-22 08:58] #148 closed

[2017-09-30 04:28] BookmanHan opened #151 "Forge could not work with std::thread."
Forge could not work with std::thread.
It came up with Unknown Error (9003).

Codes are Here:
[code]

Could there be a solution?

[2017-09-30 04:40] 9prady9 commented on #151
@BookmanHan Forge is not ready for threaded programs as of current release. We have some code that is written to handle the case scattered across the code base, but it hasn't been tested thoroughly and we don't claim Forge can be used in threaded programs as of now.

Having said that, I believe most applications don't push rendering calls to sub-processes/threads, although I can image some use cas

[2017-09-30 04:40] #151 closed

[2017-09-30 08:04] BookmanHan commented on #151
Thanks a lot for explaining the reason.

Actually, I am using ArrayFire in the Linux server.
I login in the server with a terminal from my notebook.
I want to run my codes in the server then visualize the results in my notebook.

I tried the `ssh -X`, which doesn't work.
I tried the VNC, which leads to the same result.

Finally, I am getting up to transfer the array from server to notebook within

[2017-10-19 07:15] codeants2012 commented on #151
@BookmanHan  Do you have a Test program about Fast-TransX, I want to test quikly because of  Limited hardware resources. Thank you very much!

[2017-10-24 19:19] tczaugg commented on #130
I found solution here:
https://devtalk.nvidia.com/default/topic/946136/building-an-opengl-application/?offset=7

[2017-11-07 11:25] FloopCZ commented on #102
I am not sure whether this issue has been resolved or it was not worth the effort, but I am suffering from the same issue as @pavanky on CPU and OpenCL backends (have not tried CUDA yet). When I resize a window, the application crashes with:
[code]
By the way, is there a way to zoom the canvas? The plot can be shifted and rotated with left and right mouse respectively, but was not able to zoom in

[2017-11-07 14:32] FloopCZ opened #152 "Strange surface plot"
Hi, on my machine, the surface plot seems to have multiple issues. If I run the following code:
[code]

I see the following image (without the red lines):
![surface](https://user-images.githubusercontent.com/6018335/32498446-04a1b31a-c3d0-11e7-9c09-481dc4c27038.png)

The image has a few problems:

1. The Y-axis labels are all the same.
2. The X-axis labels are probably all the same as well.
3. The

[2017-11-16 03:45] 9prady9 commented on #102
@FloopCZ Which GPU are you using this on ?

"ALT+Left Click" and move mouse up/down to zoom in/out. On a mouse pad, move a second finger up/down while the left click and alt are held pressed.

[2017-11-16 10:42] FloopCZ commented on #102
@9prady9 Thank you for the answer, I have filled a separate issue #152 for this.

[2017-11-22 04:34] 9prady9 commented on #152
@FloopCZ We will look into it and update here as soon as we find something. Unfortunately, I can't give an ETA on this, but I will try to look into it as soon as possible.

[2017-12-03 19:14] FloopCZ commented on #152
Thank you @9prady9. :-)

[2017-12-04 06:02] 9prady9 commented on #152
@FloopCZ This seems to be an issue inside ArrayFire while auto-calculating the axes limits. I have raised an [issue](https://github.com/arrayfire/arrayfire/issues/2006) in the downstream(ArrayFire) project and you can follow its progress over there.

As far as the window crash upon resize, I am unable to replicate this on my end. The window seems to be resizing just fine for me.

As a work around

[2017-12-08 14:29] FloopCZ commented on #152
@9prady9 Thank you for the workaround, I have just tried it. Unfortunately, the image still has the same problems. This is what I see:
![image](https://user-images.githubusercontent.com/6018335/33770020-7a07f744-dc2c-11e7-991e-a60360d25532.png)

[2017-12-08 14:34] 9prady9 commented on #152
Looks like transformation is off, I will look into it in forge.

[2017-12-23 15:27] 9prady9 commented on #146
Cmake improvement addressed in PR #150

[2018-02-02 13:00] ghisvail opened #160 "forge FTBFS with libglm-dev 0.9.9~a2-1"
Forwarded from [Debian-Bug#888931](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=888931).

The issue is with a recently introduced macro blocking experimental features of the API. It should be just a matter of defining `GLM_ENABLE_EXPERIMENTAL` or ensuring you are not using this code path.

[2018-02-02 15:13] 9prady9 commented on #160
@ghisvail We don't use quaternion math per say. But if whatever is being used internally uses this GLM_GTX_dual_quaternion, we need to refactor that portion. Thank you for reporting it. Any suggestions on the fix are also appreciated. thank you

[2018-02-02 15:17] 9prady9 commented on #160
Looks like defining `GLM_ENABLE_EXPERIMENTAL` is the easy way out. But that would require a fix again in future when this is removed.

[2018-02-05 04:34] 9prady9 commented on #160
@ghisvail I have removed the header that caused the issue in PR #161 . Can you please test this change and let me know if it fixed the problem. Thank you.

[2018-02-14 09:04] 9prady9 commented on #146
Hunter support taken care of in PR https://github.com/arrayfire/forge/pull/155

[2018-02-14 09:04] #146 closed

[2018-03-13 14:30] 9prady9 commented on #160
@ghisvail Can you please confirm if the PR fixed the problem on debian.

[2018-04-06 12:48] #160 closed

[2018-04-06 12:48] 9prady9 commented on #160
I have merged the PR. Please reopen the issue if it is still an issue on Debian.

[2018-04-10 20:00] mlloreda commented on #152
Am able to reproduce window resize issue on Ubuntu 16.04.

[code]

[2018-05-09 17:07] rennis250 opened #177 "Simple transfer of Array to OpenGL texture via Image class?"
I know that the issue of OpenGL interoperability has been dealt with before and Forge handles a lot of the grunt work already. Is it possible that users could have public access to the texture ID for a given Image class, so that they don't have to reproduce all of that hard work if they want to run an image through a custom shader? I have a very specific type of shader that I want to run for my wo

[2018-05-11 09:11] 9prady9 commented on #177
I think whats being done in [arrayfire-interop-examples](https://github.com/bkloppenborg/arrayfire-interop-examples) is essentially what Forge tries to handle, shown below for reference.

[Forge](https://github.com/arrayfire/forge) replaces `GPU->Host->OpenGL(GPU Texture)` memory transfers with `GPU->OpenGL(GPU Texture)`.

I did have an idea about letting users run some custom shaders on `af::arra

[2018-05-11 11:58] rennis250 commented on #177
Ok, thanks. I decided to try to change things myself. So far, I've edited the Forge code to add an additional function, called texture(), that acts like the pixels() method for the Image class. It returns the assigned OpenGL texture ID and seems to work as expected. Now, I am changing the Arrayfire code to convert an Array to a Forge::Image and return a pointer to it. Last, I'm exporting this code

[2018-05-12 12:18] rennis250 commented on #177
So, I think I'm almost there, but a bit stuck. I tried exporting convert_and_copy image by putting the following in ```include/image.h``` of Arrayfire:

[code]

The library compiles fine and the include files in /usr/local/include are naturally updated to reflect this change, but when I try to use this function in my code, I get the error: ``` error: no member named 'convert_and_copy_image' in nam

[2018-05-12 12:32] rennis250 commented on #177
That's all I changed and all I did, so there is no more code to preview... ```convert_and_copy_image``` is a function that is already present in src/api/c/image.cpp.

[2018-05-13 14:03] rennis250 commented on #177
I spoke with @umar456 on slack and the problem mostly stems from my lack of experience with C++. It might be working soon.

[2018-05-13 14:28] 9prady9 commented on #177
* It may be simple, but are you building Arrayfire with `AF_WITH_GRAPHICS` cmake variable turned on ?
* I don't see any diff for `image.cpp`. Did you instantiate the implementation of the static function for all the types in arrayfire - Just the type you want is enough if your target type is fixed.

[2018-05-13 14:37] rennis250 commented on #177
Yes, I have that variable enabled. I checked that other graphics functions work fine. I can open a window for instance via af::Window.

Sorry, I uploaded the diff... I hit "Submit Comment" a little too quickly. I'll search about the instantiation, but what does that mean exactly?

[2018-05-13 15:54] rennis250 commented on #177
I updated the diffs above to reflect our discussion on slack

[2018-05-14 20:46] rennis250 commented on #177
I made some progress. Turns out that it is actually related to the WITH_GRAPHICS ```#ifdef``` guards. Basically I have to put them in the relevant header file, since the function signature of convert_and_copy_image returns a ```Forge::Image```, but when the library is installed, those prevent my separate program from seeing the function. So, I need to compile my separate program with a WITH_GRAPHI

[2018-05-15 14:16] rennis250 commented on #177
Ok, I've gotten further, but I have hit a different wall that seems related to either OpenGL or the design of Forge. I'm listing all of the relevant code first. Questions and clarification follow below.

# include/af/graphics.h

[code]

# src/c/api/image.cpp

[code]

# src/api/unified/graphics.cpp

[code]

In Forge, I just made a simple method for the Image class that returns the texture ID. The c

[2018-05-15 14:28] rennis250 commented on #177
I have another idea. I will try it and report back.

[2018-05-16 11:25] rennis250 commented on #177
I got it to work! :D

I instead changed the implementation of the Image class to allow it to accept arbitrary shaders and changed ```image_impl::render``` in ```forge/src/backend/opengl/image_impl.cpp``` to check for the presence of a custom shader and to run slightly different and simpler code in that case when drawing the image via the PBO. I then made a simpler ```draw_image``` function in ```a

[2018-05-16 11:25] #177 closed

[2018-06-10 20:07] pkestene opened #178 "old cmake can not detect target Freetype::Freetype"
**What issue(memory leak, slow renders, docs fix etc.) did you face?**

build system / cmake :
since last commit the way Freetype library is handled in forge's CMakeLists has changed.
My platform is Ubuntu 17.10, cmake version is 3.5, and target Freetype::Freetype is not defined in cmake 3.5, only since 3.10 (available Ubuntu 18.04).

This is just a suggestion: keep a locally defined cmake module

[2018-06-11 06:08] 9prady9 commented on #178
@pkestene Forge releases we have done so far and the Forge tags used by ArrayFire still have the capability to use Freetype without having `Freetype::Freetype` target defined. It is only in the master branch, which is the development branch, that I removed old functionality in favor of the modern CMake approach. The intention is to avoid having any Find scripts inside Forge project and let cmake h

[2018-06-11 06:08] #178 closed

[2018-06-20 03:53] matkraj opened #181 "grid x,y coordinates are not consistent when plotted"
I am trying to use window.grid in an organised way, but the images seem to be placed in the window by a different key than `.grid(a,b)`. I tried to swap x,y in myWindow(x,y) which results in overlapping images.

code:

[code]
results in:
![image](https://user-images.githubusercontent.com/32445707/41636128-f8dba22c-748f-11e8-9160-522834a8bd92.png)

[2018-06-20 05:10] 9prady9 commented on #181
I have moved the issue to downstream where it is related to https://github.com/arrayfire/arrayfire/issues/2204

[2018-06-20 05:10] #181 closed

[2018-09-15 23:43] svenstaro opened #183 "Doesn't build against glbinding 3.0"
This currently fails to compile against glbinding 3 on Arch Linux. Probably don't need to post build logs as you'll run into these problems yourself and they are definitely API problems.

[2018-09-16 12:28] 9prady9 commented on #183
Hi , We are aware of this issue and we will make the switch as soon as we
can. The main issue is most distributions still has 2.* Versions.

- Pradeep

On Sun 16 Sep, 2018, 05:13 Sven-Hendrik Haase, <notifications@github.com>
wrote:

[2018-09-16 13:06] svenstaro commented on #183
At least for Arch Linux, I can only update glbinding once forge compiles
against it.

On Sun, Sep 16, 2018, 14:28 pradeep <notifications@github.com> wrote:

[2018-09-17 04:38] 9prady9 commented on #183
@svenstaro It would be great if you can send those changes in as a PR.

[2018-09-17 05:37] svenstaro commented on #183
I currently have no time to do that I'm afraid.

On Mon, Sep 17, 2018, 06:38 pradeep <notifications@github.com> wrote:

[2018-09-17 06:16] 9prady9 commented on #183
That is fine, we will push the necessary changes as soon as we can. Thanks for reporting it.

[2018-10-17 21:53] svenstaro commented on #183
Any chance you can do that soon? I'd like to update glbinding in Arch soon, if possible.

[2018-10-18 03:32] 9prady9 commented on #183
@svenstaro The main concern for me with forge to use glbinding 3.0 is none of the package managers updated it to 3.0. Even bionic still uses 2.1.1. Also, since ArrayFire uses forge, I would have to bump up that as well which would be issue on Ubuntu like distributions. I am not sure how is this resolved generally. @umar456 @pavanky Any suggestions ?

[2018-10-18 03:38] 9prady9 commented on #183
While waiting, I am working on code changes for forge to make it compile against 3.0.

[2018-10-18 05:48] 9prady9 commented on #183
Although compilation fixes are done. Oddly, glsl shader compilation is failing. I will keep you posted.

[2018-11-16 17:16] #183 closed

[2018-11-16 17:17] 9prady9 commented on #183
@svenstaro master compiles with glbinding 3.0.2 right now. I have couple of more fixes inline which will be on master by EOD. I will do a fix release soon after that.

[2018-11-17 08:43] 9prady9 commented on #183
@svenstaro v1.0.3 with glbinding 3.0 support is released. Sorry about the delay.

[2019-01-24 09:27] zdgithub opened #194 "how to save plot image"
I want to save the plot image instead of displaying it. But I don't find the proper function.
[code]

[2019-01-24 09:30] 9prady9 commented on #194
Window has a method saveFrameBuffer.

[2019-01-24 09:35] zdgithub commented on #194
I can't find the function in http://arrayfire.org/docs/classaf_1_1Window.htm

[2019-01-24 09:41] zdgithub commented on #194
Thank you! I have found it in http://arrayfire.org/forge/classforge_1_1Window.htm#a7b42bb1b6fe76015118491ca1c9f7e84

[2019-01-24 09:41] #194 closed

[2019-02-09 15:50] dylanrees opened #196 "Player avatar bug"
When the human selects a new avatar in human vs. AI games, the previously-selected avatar appears instead in the game window.  The newly-selected avatar will appear normally once the program is restarted.  This bug doesn't appear to affect the AI avatar.

System: Arch Linux

[2019-02-09 15:56] #196 closed

[2019-02-09 15:57] 9prady9 commented on #196
Did you attach an image? I am unable to see anything on my mobile app.

[2019-03-09 15:29] 9prady9 opened #199 "Avoid inheritance std::exception by forge::Error class"

[2019-04-18 11:03] 9prady9 commented on #152
Updates related to fix for auto-calculation of surface limits will be provided on https://github.com/arrayfire/arrayfire/issues/2006 as it is related to arrayfire code base.

Surface transformation issue will be bug handled in this issue.

[2019-09-05 05:23] 9prady9 opened #206 "Known Issue building Documentation with Doxygen 1.8.16"
**What issue(memory leak, slow renders, docs fix etc.) did you face?**
It is a documentation build issue, shouldn't effect any users.

The issue happens with doxygen 1.8.16

[2020-01-06 12:47] 9prady9 commented on #206
The issues seems to have been gone with doxygen 1.8.17 release. However, some styles corruption issues seem to linger. Not yet sure if they if doxygen is root cause of that.

[2020-01-06 13:29] 9prady9 commented on #206
Resolved in 27abb19a6b47d9a08218ff210df568a2f428fe95

[2020-01-06 13:29] #206 closed

[2020-06-20 09:21] beojan commented on #66
Any updates here? Is it still possible to just draw into the current context without setting up a window?

[2020-06-20 11:38] 9prady9 commented on #66
@beojan Unfortunately, no, there has been much work done in this direction yet.

Currently, fonts are currently set via window object. Thus this needs to be separated from Window so that the they will work out of the box. So basically, except font rendering rest of the stuff should work fine in a user provided OpenGL context even now.

Because fonts won't work, chart won't make sense. Image object

[2020-07-08 08:59] 9prady9 commented on #66
@beojan A quick update. I have looked at the code and as of today `font` object used by Window object is separate from the font object's created for chart's internal use. Thus, even if Window class from forge isn't used, one should be able to still use rendering logic from other classes in a different OpenGL context.

Note that, a valid OpenGL context should be available to use forge's non-Window

[2020-07-08 09:07] 9prady9 commented on #100
The goal of forge is to provide rendering logic only i.e. the data provided to forge is expected to be readily passed onto OpenGL buffers. I think the support for massaging data in other formats into the one expected by OpenGL is better handled by data-conversion routines either written by specific user or another library. It falls outside of the scope of forge.

[2020-07-08 09:07] #100 closed

[2020-07-08 09:24] 9prady9 commented on #98
I would like to have this feature, but I think the route is more via web assembly using project like https://emscripten.org/ but the last time I checked, not all of our dependencies are available via emscripten.

As of today,
- emscripten ports for SDL, Freetype are available which should cover the dependencies on the fronts of window-toolkit and font-file-loading.
- Boost is available.
- Fontconf

[2020-07-08 09:52] beojan commented on #66
It appears `Chart`'s `render` member function still requires a reference to a Window. Is there a dummy Window to be passed?

[2020-07-08 10:09] 9prady9 commented on #66
Ah right, my bad. Window is being passed, although it can easily worked around since the object is only used to get unique window ID that is in turn used for internal book keeping of VAO objects.

If this object of Windows is replaced with a window identifier variable like int, then it should work out of the box. Unfortunately, that would require an API change and can't be done before 2.0 release.

[2020-07-08 10:40] 9prady9 commented on #199
https://stackoverflow.com/a/30760610/1985476

[2020-07-08 11:14] 9prady9 commented on #199
It seems like in-lining the `fg::Error` completely in the header should resolve the issue. Of course, that alone won't cut it, all cpp implementations should become header only, which shouldn't be hard given that they are merely redirecting to C-API.

[2020-10-29 04:33] 9prady9 opened #212 "Add version guards for remove renderables API"

[2020-10-29 18:40] #212 closed

[2021-05-04 17:38] 9prady9 commented on #94
![IMG_20210504_224922](https://user-images.githubusercontent.com/3270458/117045455-2886f980-ad2d-11eb-9ea5-b33302b40999.jpg) - AMD GPU rendering seems to work in general except the 3d renderables  - an odd horizontal line appears from the center of the screen to left edge of the window and it keeps rotation with the object if the object rotates - doesn't matter what the rendered object is. Static

[2021-05-08 04:31] villekf opened #231 "Linux installer's Forge causes MATLAB to crash"
The Forge included in the official Linux installer is currently causing MATLAB to crash (segfault) when an ArrayFire mex-code is run (the below example causes this).

[code]
On Windows, using the installer and MATLAB has no issues. Furthermore, building AF from source with Forge ON (or OFF) also works. If these built Forge libraries are replaced with the ones from the installer, the crashes start

[2021-05-11 01:54] 9prady9 commented on #231
Found the root cause of this finally - https://bugzilla.redhat.com/show_bug.cgi?id=1546704

Note: Forge so file from ArrayFire Installer is built on CentOS using devtoolset-7.

[2021-06-09 15:41] 9prady9 opened #232 "Replace console outputs with logging using spdlog"

[2022-03-21 13:34] RiShAbHjOsHibot opened #234 "Render directly from GPU"
Hi , I have a simple question .
Let's say I have an array on the device, and I apply some operations on it.
[code]
Now, I want to directly draw this array as it is already located in the GPU. Is it possible to do so ? if yes, how can I do that . I would love to do that.

[2022-03-21 15:05] 9prady9 commented on #234
@RiShAbHjOsHibot Did you check the [CUDA examples](https://github.com/arrayfire/forge/tree/master/examples/cuda) ?

[2022-03-25 05:56] 9prady9 commented on #234
I can't recollect right away, but I think color map can only be set for images at the moment. Check https://github.com/arrayfire/forge/blob/master/examples/cpu/histogram.cpp example for an idea. I don't think surfaces has this yet, but I would have to check to confirm this.

[2022-04-06 05:03] #234 closed

[2022-04-06 05:14] 9prady9 commented on #234
@RiShAbHjOsHibot Sorry couldn't respond immediately. I wouldn't know right away how easy it would be to integrate these two. I have never used this library earlier to this date. Forge intends to have Vulkan Backend, but it would also function similar to the current OpenGL backend, only providing shader based rendering logic. From quick looks, Datoviz seems like a full fledged framework/library to

[2022-06-09 12:44] villekf commented on #231
Any update on this?

[2022-09-08 08:20] 3togo opened #235 "[Bug] crash when running examples"
when I try to run the examples in cuda folder, all crashed with sudden closing while trying to open window.

eg. ./histogram
Below is the gdb output

unknown error in /home/eli/git/forge/include/fg/compute_copy.h at line 148
[Thread 0x7fffa77fe000 (LWP 6716) exited]
[Thread 0x7fff9e39a000 (LWP 6722) exited]
[Thread 0x7fff9eb9b000 (LWP 6721) exited]
[Thread 0x7fffa4d5f000 (LWP 6720) exited]
[Thread

[2022-09-11 11:33] 9prady9 commented on #235
@3togo stack trace info from description is quite limited, Can you get anything else useful ? Perhaps try graphics examples from CUDA toolkit, that can help narrow down the issue - if it is forge or system issue. Usually, if window opening itself failed, in 99% of cases it is related to system setup.

[2022-09-17 17:46] StefanBruens opened #236 "Please include glad directly into forge"
Current setup of glad dependency makes it unnecessary hard to build:

1. forge expects a specific configuration, as can be found in arrayfire's glad repository. A vanilla upstream glad does not work, as that has to be integrated specifically, see e.g. https://github.com/Dav1dde/glad/issues/376#issuecomment-1209640818
2. Offline builds expects a git clone, a snapshot downloaded from githup (e.g. ht

[2022-09-18 15:37] 9prady9 commented on #236
Forge (ArrayFire also) uses a specific workflow for fetching dependencies like glad, glm etc. for building the concerned project. I believe it is better to be consistent on how CMake fetches dependencies if possible, which it is in the case of glad for forge/arrayfire. I am not a fan of including large source files into the repository, especially when CMake can help with the same. Also, please not

[2022-09-27 13:02] 3togo commented on #235
changing prime-select setting from "on-demand" to "nvidia" will fix the problem.

`sudo prime-select nvidia`

p.s. it is not a must because some of my computers does not have any problems with forge when prime-select is set to "on demand" mode.

[2022-09-27 13:02] #235 closed

[2022-10-08 06:00] 3togo opened #237 "Is there any simple way to annotate plots in Forge?"
Is there any simple way to annotate plots in Forge?  something like add a marker with a text

[2022-10-10 05:23] 9prady9 commented on #237
Yes, please check the examples https://github.com/arrayfire/forge/tree/master/examples

[2022-10-10 05:24] 9prady9 commented on #236
Closing due to inactivity, please re-open if required after reviewing my above response.

[2022-10-10 05:24] #236 closed

[2022-10-10 05:26] 9prady9 commented on #237
If you are referring to annotations like these https://github.com/arrayfire/forge/pull/238 then those aren't there yet. I will take a look at your PR and get back to you by EOW, thank you for submitting it.